// BUTTON STYLES //

.button {
  margin-right: 40px; //  Размеры и отступы
  padding: 10px;
  border: none;
  border-radius: 5px;

  color: $textColor1; //  Оформление
  background: $LightColor2;
  text-align: center;
  font: {
    family: Lato, sans-serif;
    weight: 500;
  }
  text-transform: uppercase;
  transition: 0.2s linear;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

.button:active {
  background: $background-opaque;
  color: $LightColor2;
}