// FOOTER //
.copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: auto;
  padding: 0;
  justify-content: end;
  font-size: 1rem;
}

.copyright-text {
  color: $LightColor2;
  margin: 10px;
}

.link {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 10px;
  color: $LightColor2;
  width: auto;
}