// Gallery component //

.gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}


.photo {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: 0.2s linear;
}

.photo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.photo-ref {
  width: 25%;
  height: 200px;
  margin: 10px;
  border-radius: 1rem;
}