// HEADER //

.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem;
  padding: 20px;
  background: $LightColor2;
  border-radius: 1rem;
  width: calc(100% - 60px - 1rem);
  transition: 0.2s linear;
  backdrop-filter: blur(5px);
}

.logo:hover {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

.logo-text {
  color: $textColor2;
  font-size: 24px;
  font-weight: 300;
}

.logo-text-additional {
  color: $textColor1;
  text-transform: uppercase;
  font-weight: 500;
}

.material-name {
  font-size: 24px;
  color: $textColor1;
  margin-right: 20px;
  padding: 5px 0 5px 5px;
  background: $LightColor2;
  border-radius: 5px;
  font-weight: 300;
  //text-transform: uppercase;
  transition: 0.2s linear;
  width: auto;
}

.material-name:hover {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltip-text {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  visibility: hidden;
  background-color: $LightColor2;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  width: auto;
  top: 100%;
  left: 50%;
  margin-top: 5px;
  margin-left: -60px;
  opacity: 0;
  text-transform: none !important;
  transition: opacity 0.5s;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  cursor: help;
}
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;  /* В верхней части всплывающей подсказки */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  justify-content: end;
}
