// MAIN INFORMATIONAL BLOCKS //

.info-layer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-layer-2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 25%;
  background: $LightColor2;
  border-radius: 1rem;
  height: 300px;
  margin-left: 1rem;
  padding: 15px;
  overflow: hidden;
  transition: 0.2s linear;
  backdrop-filter: blur(5px);
}

.info-block:nth-child(4n) {
  margin-right: 2rem;
}

.info-block:nth-child(1) {
  margin-left: 2rem;
}

.info-block:hover {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

.info-block-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  //width: calc(50% - 2rem);
  width: calc(100% - 2rem);
  background: $LightColor2;
  border-radius: 1rem;
  margin: 2rem;
  height: 300px;
  padding: 15px;
  transition: 0.2s linear;
  backdrop-filter: blur(5px);
}

.info-block-2:hover {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

.info-text {
  color: $textColor1;
  font-size: 12px;
  margin: 5px;
  padding: 5px;
  font-family: Lato, sans-serif;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s linear;
  text-transform: uppercase;
  word-break: break-all;
}

.info-text:not(.important):hover {
  background: rgba(255,255,255,0.75);
  color: $LightColor2;
  cursor: none;
}


.important {
  color: $textColor2;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.important::after {
  content: "#";
  margin: 10px;
  color: $textColor1;
}

.important:hover {
  cursor: pointer;
  background: $textColor3;
  color: $textColor2;
}