// ADAPTIVE SETTINGS //

@media screen and (max-width: 900px) {
  .info-layer, .info-layer-2 {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }
  .info-block, .info-block-2 {
    width: calc(100% - 40px);
    margin: 5px 20px 5px 20px;
  }
  .info-block:nth-child(1) {
    margin: 5px 20px 5px 20px;
    width: calc(100% - 40px);
  }
  .info-text {
    font-size: 1rem;
  }
  .logo {
    width: auto;
    margin: 20px;
  }
  .menu {
    justify-content: start;
    width: calc(100% - 40px);
    margin: 20px auto;
    top: 100px;
    right: 0;
    left: 0;
    overflow-y: scroll;
  }
  .control {
    flex-direction: row;
    justify-content: center;
  }
  .category-button {
    margin: 2rem;
    width: auto;
    height: 50px;
  }
  .material-name {
    display: none;
  }
  .copyright {
    justify-content: center;
  }
  .row {
    font-size: 2rem;
  }
}
