// MENU //
@import "vars";
@import "functions";

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75px;
  right: 200px;
  width: calc(100% / 3);
  height: 50vh;
  border-radius: 1rem;
  //background: $textColor2;
  background: shadesOfWhite(0.7);
  padding: 10px;
  backdrop-filter: blur(7px);
  overflow: auto;
}

.submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% / 3 - 10px);
  height: calc(100% / 3 - 10px);
  //border: 1px solid $LightColor1;
  word-break: break-word;
  text-align: center;
  border-radius: 1rem;
  margin: 5px;
  padding: 5px;
  transition: background-color 0.2s linear, box-shadow 0.2s linear;
  //background: $LightColor2;
  color: $LightColor2;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.submenu:hover {
  cursor: pointer;
  background: shadesOfWhite(0.3);
  color: $LightColor2;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.submenu-text {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: $LightColor2;
}

.row-text {
  color: $LightColor2;
  font-size: 12px;
  margin: 5px;
  padding: 5px;
  font-family: Lato, sans-serif;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s linear;
  text-transform: uppercase;
  word-break: break-all;
}

.row-text:not(.important):hover {
  background: rgba(0, 0, 0, 0.3);
  color: $LightColor2;
  cursor: pointer;
}
