// НАЧАЛЬНЫЙ СБРОС СТИЛЕЙ И СКРИПТОВЫЕ КЛАССЫ//

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: tint($background, 30%);
}

a {
  text-decoration: none;
  transition: 0.2s linear;
}
a:hover:not(.material-link, .photo-ref) {
  box-shadow: 0 3px $LightColor2;
  opacity: 0.9;
}
a:visited {
}

p {
  font-family: Lato, sans-serif;
}

.page-structure { // ВОЗМОЖНО ПЕРЕМЕЩЕНИЕ В ДРУГОЙ ФРАГМЕНТ В БУДУЩЕМ //
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

strong {
  padding: 5px;
  border-radius: 5px;
  color: $textColor1;
  transition: 0.2s linear;
  font-family: Lato, sans-serif; // ШРИФТЫ //
  font-weight: 500;
  //text-transform: uppercase;
}

strong:hover {
  background: shadesOfWhite(0.8);
  color: shadesOfDark(0.8);
  cursor: none;
}

.hidden {
  visibility: hidden;
}