.copyMessage {
  position: absolute;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  background: #a26cc6;
}

.hidden {
  display: none;
}

.formula {
  text-transform: none;
}

.expanded {
  height: auto;
  width: 50%;
}