// Color variables | Переменные цветов //
@import "functions";

$background: #bfc0c3; // Background color | 60 % color
$background-opaque: shadesOfWhite(0.7); // Background color | 60 % color
$LightColor2: rgba(0, 0, 0, 0.8); // Blocks color | 30% color
$textColor1: #bfc0c3; // Normal text | 10% color
$textColor2: #c583f0; // Strong element color | accent color
$textColor3: rgba(197, 131, 240, 0.5);
$button: #c583f0; // Button hover color