@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #d2d3d5;
}

a {
  text-decoration: none;
  transition: 0.2s linear;
}

a:hover:not(.material-link, .photo-ref) {
  box-shadow: 0 3px rgba(0, 0, 0, 0.8);
  opacity: 0.9;
}

p {
  font-family: Lato, sans-serif;
}

.page-structure {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

strong {
  padding: 5px;
  border-radius: 5px;
  color: #bfc0c3;
  transition: 0.2s linear;
  font-family: Lato, sans-serif;
  font-weight: 500;
}

strong:hover {
  background: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
}

.hidden {
  visibility: hidden;
}

.button {
  margin-right: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #bfc0c3;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s linear;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

.button:active {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.8);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  width: calc(100% - 60px - 1rem);
  transition: 0.2s linear;
  backdrop-filter: blur(5px);
}

.logo:hover {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

.logo-text {
  color: #c583f0;
  font-size: 24px;
  font-weight: 300;
}

.logo-text-additional {
  color: #bfc0c3;
  text-transform: uppercase;
  font-weight: 500;
}

.material-name {
  font-size: 24px;
  color: #bfc0c3;
  margin-right: 20px;
  padding: 5px 0 5px 5px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-weight: 300;
  transition: 0.2s linear;
  width: auto;
}

.material-name:hover {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  width: auto;
  top: 100%;
  left: 50%;
  margin-top: 5px;
  margin-left: -60px;
  opacity: 0;
  text-transform: none !important;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  cursor: help;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  /* В верхней части всплывающей подсказки */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  justify-content: end;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}

.info-layer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-layer-2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 25%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  height: 300px;
  margin-left: 1rem;
  padding: 15px;
  overflow: hidden;
  transition: 0.2s linear;
  backdrop-filter: blur(5px);
}

.info-block:nth-child(4n) {
  margin-right: 2rem;
}

.info-block:nth-child(1) {
  margin-left: 2rem;
}

.info-block:hover {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

.info-block-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: calc(100% - 2rem);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  margin: 2rem;
  height: 300px;
  padding: 15px;
  transition: 0.2s linear;
  backdrop-filter: blur(5px);
}

.info-block-2:hover {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

.info-text {
  color: #bfc0c3;
  font-size: 12px;
  margin: 5px;
  padding: 5px;
  font-family: Lato, sans-serif;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s linear;
  text-transform: uppercase;
  word-break: break-all;
}

.info-text:not(.important):hover {
  background: rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 0.8);
  cursor: none;
}

.important {
  color: #c583f0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.important::after {
  content: "#";
  margin: 10px;
  color: #bfc0c3;
}

.important:hover {
  cursor: pointer;
  background: rgba(197, 131, 240, 0.5);
  color: #c583f0;
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.photo {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: 0.2s linear;
}

.photo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.photo-ref {
  width: 25%;
  height: 200px;
  margin: 10px;
  border-radius: 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75px;
  right: 200px;
  width: 33.3333333333%;
  height: 50vh;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  backdrop-filter: blur(7px);
  overflow: auto;
}

.submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(33.3333333333% - 10px);
  height: calc(33.3333333333% - 10px);
  word-break: break-word;
  text-align: center;
  border-radius: 1rem;
  margin: 5px;
  padding: 5px;
  transition: background-color 0.2s linear, box-shadow 0.2s linear;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.submenu:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.submenu-text {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.row-text {
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  margin: 5px;
  padding: 5px;
  font-family: Lato, sans-serif;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s linear;
  text-transform: uppercase;
  word-break: break-all;
}

.row-text:not(.important):hover {
  background: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: auto;
  padding: 0;
  justify-content: end;
  font-size: 1rem;
}

.copyright-text {
  color: rgba(0, 0, 0, 0.8);
  margin: 10px;
}

.link {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 10px;
  color: rgba(0, 0, 0, 0.8);
  width: auto;
}

@media screen and (max-width: 900px) {
  .info-layer, .info-layer-2 {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }

  .info-block, .info-block-2 {
    width: calc(100% - 40px);
    margin: 5px 20px 5px 20px;
  }

  .info-block:nth-child(1) {
    margin: 5px 20px 5px 20px;
    width: calc(100% - 40px);
  }

  .info-text {
    font-size: 1rem;
  }

  .logo {
    width: auto;
    margin: 20px;
  }

  .menu {
    justify-content: start;
    width: calc(100% - 40px);
    margin: 20px auto;
    top: 100px;
    right: 0;
    left: 0;
    overflow-y: scroll;
  }

  .control {
    flex-direction: row;
    justify-content: center;
  }

  .category-button {
    margin: 2rem;
    width: auto;
    height: 50px;
  }

  .material-name {
    display: none;
  }

  .copyright {
    justify-content: center;
  }

  .row {
    font-size: 2rem;
  }
}
.copyMessage {
  position: absolute;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  background: #a26cc6;
}

.hidden {
  display: none;
}

.formula {
  text-transform: none;
}

.expanded {
  height: auto;
  width: 50%;
}

/*# sourceMappingURL=main.css.map */
